@font-face {
  font-family: proxima;
  src: url(./font/Proxima\ Nova\ Font.otf);
}

* {
  font-family: proxima, sans-serif;
  /*border: 2px solid red;*/
  margin: 0;
  padding: 0;
}

.blue{
  display: flex;
  background-color: #1f2937;
}

.containerFirst {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 70%;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 50px;
  padding-top: 16px;
}

.links {
  display: flex;
  gap: 18px;
}

.footer {
  margin-top: auto;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header_links, .titleText, .buttonPunch {
  color: #e5e7eb;
  font-size: 18px;
}

.beginning {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}


#mid {
  width: 450px;
  border-radius: 25px;
}

.left {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  gap: 24px;
  margin-right: 32px;;
}

.punch, .buttonPunch {
  display: flex;
  border: none;
  border-radius: 8px;
  background: #3882f6;
  padding: 6px;
  cursor: pointer;
}

.title{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.white{
  display: flex;
  background-color: white;
}

.containerSecond{
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  width: 70%;
  margin: auto;
  align-items: center;
}

.titleTwo{
  display: flex;
  margin: 32px;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.insideContainer{
  display: flex;
  gap: 52px;
  text-align: center;
}

.resizeImage{
  width: 200px;
  margin-bottom: 16px;
}