@font-face {
  font-family: proxima;
  src: url(./font/Proxima\ Nova\ Font.otf);
}

* {
  background-color: #1f2937;
  font-family: proxima, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo {
  width: 50px;
  padding-top: 16px;
}

.links {
  display: flex;
  gap: 18px;
}

.footer {
  margin-top: auto;
  color: #e5e7eb;
  font-size: 18px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.header_links {
  color: #e5e7eb;
  font-size: 18px;
}
